# Byte-compiled files
__pycache__/
*.py[cod]

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg-info/
dist/
build/

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Python virtual environments
*.env
*.venv

# Test and coverage reports
.coverage
*.cover
nosetests.xml
coverage.xml
*.log

# Pytest cache
__pycache__/
.pytest_cache/

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# C extensions
*.so
